In [87]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [142]:
NHL_1 = pd.read_csv('InjStatus.csv')
NHL_2 = NHL_1[['POSITION', 'HEIGHT', 'WEIGHT', 'PLAYER', 'AGE', 'Injury Status']]
# NHL.columns 
NHL = NHL_2.dropna()
NHL.head()

  POSITION  HEIGHT  WEIGHT             PLAYER  AGE Injury Status
0       LW    74.0     214  Abdelkader Justin   32       Injured
1       LW    71.0     196       Aberg Pontus   25       Injured
2       RW    69.0     171     Abramov Vitaly   21   Not Injured
3        C    70.0     205       Acciari Noel   27   Not Injured
4       LW    72.0     199     Agostino Kenny   27   Not Injured

In [94]:
# 1 = injured
# 0 = not injured
Encoded_df = pd.get_dummies(NHL, columns=['Injury Status'])[['POSITION', 'HEIGHT', 'WEIGHT', 'PLAYER', 'AGE', 'Injury Status_Injured']]
Encoded_df.head()

  POSITION  HEIGHT  WEIGHT             PLAYER  AGE  Injury Status_Injured
0       LW    74.0     214  Abdelkader Justin   32                      1
1       LW    71.0     196       Aberg Pontus   25                      1
2       RW    69.0     171     Abramov Vitaly   21                      0
3        C    70.0     205       Acciari Noel   27                      0
4       LW    72.0     199     Agostino Kenny   27                      0

In [95]:
y = Encoded_df['Injury Status_Injured'].values.reshape(-1, 1)

In [156]:
from sklearn.model_selection import train_test_split

# X = pd.get_dummies(NHL, columns=['POSITION','Injury Status'])

X = pd.get_dummies(Encoded_df[['POSITION', 'HEIGHT', 'WEIGHT', 'AGE']], columns=['POSITION'])

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=350, stratify=y)

X_train.head()

,HEIGHT,WEIGHT,AGE,POSITION_C,POSITION_D,POSITION_G,POSITION_LW,POSITION_RW
1300,72.0,197,23,0,0,0,1,0
1202,76.0,219,27,0,0,0,0,1
1055,73.0,221,25,0,1,0,0,0
1305,69.0,186,25,1,0,0,0,0
217,74.0,205,29,0,1,0,0,0

In [157]:
NHL.head()

  POSITION  HEIGHT  WEIGHT             PLAYER  AGE Injury Status
0       LW    74.0     214  Abdelkader Justin   32       Injured
1       LW    71.0     196       Aberg Pontus   25       Injured
2       RW    69.0     171     Abramov Vitaly   21   Not Injured
3        C    70.0     205       Acciari Noel   27   Not Injured
4       LW    72.0     199     Agostino Kenny   27   Not Injured

In [158]:
NHL.to_csv('NHLModel.csv', index=True, header=True)

In [159]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [160]:
classifier.fit(X_train, y_train)

/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/anaconda3/envs/PythonData/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [161]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.6647058823529411
Testing Data Score: 0.6794117647058824

In [151]:
# # Generate a new data point (the red circle)
# import numpy as np
# new_data = np.array([[-2, 6]])
# plt.scatter(X[:, 0], X[:, 1], c=y)
# plt.scatter(new_data[0, 0], new_data[0, 1], c="r", marker="o", s=100)